// BS Overrides
.navbar-default .navbar-nav > li > a {
  display: inline-block;
}

// Typography
html {
  font-size: 14px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.bh {
  &.error {
    color: $brand-danger;
    font-size: 1rem;
  }
  &.help-text {
    color: $gray-dark;
    font-size: 0.8rem;
  }
}

.circle {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.profile-pic {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  @extend .circle;
  background-color: $brand-danger;
  position: relative;
  vertical-align: middle;
  span {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
  }
}

/*Top menu*/
.top-menu {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

/*Categories*/
.categories {
  h3 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .category {
    border-top: 1px solid $gray-lighter;
  }
  .category:first-child {
    border-top: 5px solid $gray-lighter;
  }
}

/*Conversation*/
.conversations {
  h3 {
    font-size: 1.4rem;
  }
  .conversation {
    ul.categories {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        font-weight: bold;
      }
    }
    &.teaser {
      .author {
        margin-top: 17px;
        padding-right: 10px;
      }
      border-top: 1px solid $gray-lighter;
      &:nth-child(2) {
        border-top: 5px solid $gray-lighter;
      }
    }
  }
}

.creator-container {
  height: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1475px;
  width: 90%;
  z-index: 999;
  background-color: white;
  .grip {
    border-top: 9px solid blue;
  }
  .content-area {
    padding: 20px;
  }
}
